body {
    direction: rtl;
    text-align: right;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    margin-right: 0;
    margin-left: 12px;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu {
    left: unset;
    right: 0;
    text-align: right;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: -100%;
    right: unset;
}
.banner-area .banner-shape img:nth-child(1) {
    right: unset;
    left: 0;
}
.choose-contact .section-title {
    text-align: right;
    margin-right: 0;
}
.about-area .about-content {
    margin-right: auto;
    margin-left: 0;
    padding-right: 0;
    padding-left: 30px;
}
.about-area .about-content .section-title {
    text-align: right;
    margin-right: 0;
}
.estimate-area .estimate-content .form-group .form-control {
    padding-left: 10px;
    padding-right: 20px;
}
.review-area .review-item img {
    left: unset;
    right: -35px;
}
.review-area .review-item:hover img {
    left: unset;
    right: 15px;
}
.subscribe-area .subscribe-wrap .section-title {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}
.subscribe-area .subscribe-wrap .newsletter-form .cmn-btn {
    right: unset;
    left: 0;
}
.subscribe-area .subscribe-wrap .newsletter-form .form-control {
    padding-left: 10px;
    padding-right: 25px;
}
.footer-item .footer-social ul li {
    margin-right: 0;
    margin-left: 5px;
}
.footer-item h3:before {
    left: unset;
    right: 0;
}
.banner-area.two .banner-text .banner-form .form-group .form-control {
    padding-right: 20px;
    padding-left: 10px;
}
.banner-area.two .banner-text .banner-form .form-group label {
    right: unset;
    left: 20px;
}
.banner-area.two .banner-text .banner-form .form-group .nice-select span {
    position: absolute;
    right: 20px;
}
.banner-area.two .banner-text .banner-form .form-group .nice-select::after {
    right: unset;
    left: 23px;
}
.nice-select .option {
    text-align: right;
}
.choose-area.two .choose-content .about-img img:last-child {
    margin-left: 0;
    margin-right: 190px;
}
.service-area.two .service-item {
    text-align: right;
}
.about-area.two .about-content ul li i {
    margin-right: 0;
    margin-left: 5px;
}
.about-area.two .choose-img img:first-child {
    margin-left: 0;
    margin-right: 190px;
}
.faq-area .faq-content .accordion a:after {
    right: unset;
    left: 20px;
}
.banner-area.three .banner-shape img:nth-child(1) {
    right: unset;
    left: 70px;
}
.user-form-area .user-item form span {
    margin-left: 8px;
    margin-right: 10px;
}
.user-form-area .user-item form .form-group .form-control {
    padding-left: 10px;
    padding-right: 20px;
}
.watch-area .section-title {
    text-align: right;
}
.watch-area .watch-item .watch-content {
    padding-left: 0;
    padding-right: 40px;
}
.love-area .love-item .section-title {
    text-align: right;
}
.love-area .love-item ul li i {
    margin-right: 0;
    margin-left: 5px;
}
.widget-area .search form .form-control {
    padding-left: 10px;
    padding-right: 15px;
}
.widget-area .search form .btn {
    right: unset;
    left: 0;
}
.widget-area .widget-item h3:before {
    border-radius: 50% 0 0 50%;
    left: unset;
    right: 0;
}
.widget-area .cat ul li {
    padding-left: 0;
    padding-right: 20px;
}
.widget-area .cat ul li a i {
    margin-right: 0;
    margin-left: 4px;
}
.widget-area .related .related-inner ul li:last-child {
    margin-left: 0;
    margin-right: 10px;
}
.widget-area .newsletter .form-control {
    padding-left: 10px;
    padding-right: 15px;
}
.service-details-area .details-item .details-choose ul li i {
    margin-right: 0;
    margin-left: 8px;
}
.widget-area .information ul li {
    text-align: left;
}
.widget-area .information ul li span {
    left: unset;
    right: 0;
}
.project-details-area .details-item .details-img .details-img-right ul li i {
    margin-right: 0;
    margin-left: 5px;
}
.blog-details-area .details-item .details-img ul {
    padding-left: 0;
    padding-right: 50px;
}
.blog-details-area .details-item .details-img ul li {
    margin-right: 0;
    margin-left: 15px;
}
.blog-details-area .details-item .details-img ul li i {
    margin-right: 0;
    margin-left: 3px;
}
.blog-details-area .details-item .details-img ul:before {
    left: unset;
    right: 0;
}
.blog-details-area .details-item .details-img blockquote span {
    padding-left: 5px;
    padding-right: 50px;
}
.blog-details-area .details-item .details-img blockquote span:before {
    left: unset;
    right: 0;
}
.blog-details-area .details-item .details-comments ul li img {
    left: unset;
    right: 0;
}
.blog-details-area .details-item .details-comments ul li {
    padding-left: 0;
    padding-right: 115px;
}
.blog-details-area .details-item .details-form h3:before {
    left: unset;
    right: 0;
}
.blog-details-area .details-item .details-comments h3:before {
    left: unset;
    right: 0;
}
.contact-area #contactForm .form-group {
    text-align: right;
}
#toTop {
    right: unset;
    left: 0;
}
.back-to-top-btn i {
    margin-right: 0;
    margin-left: 28px;
}
.form-control {
    text-align: right !important;
}
.buy-now-btn {
    left: 20px;
    right: auto;
}
.switch-box {
    left: 120px;
    right: auto;
}

@media only screen and (max-width : 767px) {

    .choose-contact .section-title {
        text-align: center;
    }
    .about-area .about-content .section-title {
        text-align: center;
    }
    .project-item {
        text-align: center;
    }
    .review-area .review-item img {
        left: 0;
        right: 0;
    }
    .subscribe-area .subscribe-wrap .section-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .about-area .about-content {
        padding-left: 0;
    }
    .choose-area.two .choose-content .about-img img:last-child {
        margin-right: 0;
    }
    .service-area.two .service-item {
        text-align: center;
    }
    .about-area.two .choose-img img:first-child {
        margin-right: 0;
    }
    .banner-area.three .banner-shape img:nth-child(1) {
        right: 0;
        left: 0;
    }
    .rules-area {
        text-align: center;
    }
    .watch-area .watch-item .watch-content {
        padding-left: 5px;
        padding-right: 5px;
    }
    .love-area .love-item .section-title {
        text-align: center;
    }
    .watch-area .section-title {
        text-align: center;
    }
    .blog-details-area .details-item .details-img ul {
        padding-right: 0;
    }
    .blog-details-area .details-item .details-comments h3:before {
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #fdb139;
    }
    .blog-details-area .details-item .details-comments ul li {
        padding-right: 100px;
    }
    .location-area .location-item {
        padding-left: 30px;
    }
    .watch-area .watch-item .watch-content {
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    .choose-contact .section-title {
        text-align: center;
    }
    .about-area .about-content .section-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .about-area .about-content {
        margin-left: auto;
        padding-left: 0;
    }
    .review-area .review-item img {
        left: 0;
        right: 0;
    }
    .service-area.two .service-item {
        text-align: center;
    }
    .offset-sm-3 {
        margin-left: 0;
        margin-right: 25%;
    }
    .banner-area.three .banner-shape img:nth-child(1) {
        right: 0;
        left: 0;
    }
    .subscribe-area .subscribe-wrap .section-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .rules-area {
        text-align: center;
    }
    .watch-area .watch-item .watch-content {
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        text-align: center;
    }
    .love-area .love-item .section-title {
        text-align: center;
    }
    .watch-area .section-title {
        text-align: center;
    }
    .blog-details-area .details-item .details-img ul {
        padding-right: 0;
    }

}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .about-area .about-content {
        padding-right: 30px;
    }
    .choose-area.two .choose-content .about-img img:last-child {
        margin-right: 90px;
    }
    .about-area.two .choose-img img:first-child {
        margin-right: 90px;
    }
}

@media only screen and (max-width: 991px) {
    .mobile-nav .logo {
        left: auto !important;
        right: 15px !important;
    }
    .mean-container a.meanmenu-reveal {
        padding: 15px 0 0 15px;
        right: auto !important;
        left: 0 !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left !important;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        float: right !important;
        text-align: right !important;
    }
    .side-nav {
        right: unset;
        left: 65px;
    }
}